{% assign collection = product.collections[0] %}

<div class="product-container">
  {% render "product" with product: product %}

  <div class="people-also-love">
    <span class="uppercase">People also love:</span>
    {% for otherProduct in collection.products %}
      {% if otherProduct.id != product.id %}
        <a href="{{ otherProduct.url }}" target="_blank">{{ otherProduct.title }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="ingredients-container">
    <h2>MADE WITH LOVE. <br />ONLY THE GOOD STUFF.</h2>
    <p>Our vineyards and breweries and specificaly sourced to bring you the breast product <br /> from the most exiquiste regions- it’s highlight for the party :)</p>
    <div class="ingredients">
      <div class="ingredient">
        <img src="{{ 'straberry.png' | asset_url }}" alt="straberry" />
        <span>Strawberry</span>
      </div>
      <div class="ingredient">
        <img src="{{ 'peach.png' | asset_url }}" alt="peach" />
        <span>Peach</span>
      </div>
      <div class="ingredient">
        <img src="{{ 'grape.png' | asset_url }}" alt="grape" />
        <span>DELICIOUS GRAPES</span>
      </div>
    </div>
  </div>
</div>