<div class="drawer-overlay"></div>
<div id="bag-drawer" class="bag-drawer y-scroll">
    <div>
        <div class="drawer__header">
            <div class="flex align-items-center">
                <span class="mr-1">{% render 'cart-icon' with color: '#fff' %}</span>  <span>My Bag <span id="cart-total-count">({{ cart.item_count }})</span></span>
            </div>
            <div id="bag-close" class="pointer">
                {% render 'icon' with icon: 'close' %}
            </div>
        </div>
        <div id="bag-body" class="drawer__body">
            {% for item in cart.items %}
                <div class="drawer__item cart-item" data-product-id="{{ product.id }}">
                    <div class="drawer__item-image">
                        <img src="{{ item.product.images | first | image_url }}" alt="{{ item.product.title }}" />
                    </div>
                    <div class="drawer__item-info">
                        <span>
                            {{ item.product.title }}
                        </span>
                        <span>
                            <span
                                class="count-modifier"
                                data-modifier-type="minus"
                                data-item-quantity="{{ item.quantity }}"
                                data-line="{{ forloop.index }}"
                                data-product-id="{{ product.id }}"
                            >
                            -
                            </span>
                            <span class="bag-item-quantity" data-product-id="{{ product.id }}">
                                {{ item.quantity }}
                            </span>
                            <span
                                class="count-modifier"
                                data-modifier-type="plus"
                                data-item-quantity="{{ item.quantity }}"
                                data-line="{{ forloop.index }}"
                                data-product-id="{{ product.id }}"
                            >
                                +
                            </span>
                            <span
                                class="count-modifier ml-1"
                                data-modifier-type="delete"
                                data-item-quantity="{{ item.quantity }}"
                                data-line="{{ forloop.index }}"
                                data-product-id="{{ product.id }}"
                            >
                                {% render 'trash-icon' %}
                            </span>
                        </span>
                    </div>
                    <div class="drawer__item-price item-price" data-product-id="{{ product.id }}">
                        <span>
                            {{ item.line_price | money }}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <div class="cart-subtotal mt-2 mb-2 {% if cart.item_count < 1 %}hidden{% endif %}">
            <div class="flex justify-content-between">
                <span>Subtotal</span>
                <span class="dashed"></span> 
                <span class="cart-items-subtotal">{{ cart.items_subtotal_price | money }}</span>
            </div>
            <span class="small-text">Shipping & taxes calculated at checkout</span>
        </div>
        <div class="empty-cart-text {% if cart.item_count > 0 %}hidden{% endif %}"><span>Your cart is currently empty.</span></div>
    </div>

    <div class="drawer__footer">
        <a id="drawer-checkout-button" class="button light full-width {% if cart.item_count == 0 %}disabled{% endif %}" href="/checkout">
            <span class="mr-1 align-self-center">
                {% render 'lock-icon' %}
            </span>
            <span class="align-self-center">
                Checkout
            </span>
            <span class="ml-1 mr-1 align-self-center">-</span>
            <span class="cart-items-subtotal align-self-center">{{ cart.items_subtotal_price | money }}</span>
        </a>
    </div>
</div>