<footer
  data-section-id="{{ section.id }}"
  data-section-type="footer"
>
  <div class="footer-container">
    <div class="footer-items"> 
      <h2>Stay connected</h2> 
      <p>We love making new friends. Subscribe to our newsletter for updates, new launches, discounts, and more.</p>
      {% form 'customer' %}
        {{ form.errors | default_errors }}
        {% if form.posted_successfully? %}
          <p>{{ 'general.newsletter_form.confirmation' | t }}</p>
        {% else %}
          <input type="hidden" name="contact[tags]" value="newsletter">
            <input
              class="input"
              type="email"
              name="contact[email]"
              id="Email"
              value="{% if customer.email != blank %}{{ customer.email }}{% endif %}"
              placeholder="YOUR EMAIL ADDRES"
              autocorrect="off"
              autocapitalize="off">
            <button type="submit">Submit</button>
        {% endif %}
      {% endform %}
  </div>
</footer>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
