
{% assign show_shop_all_delicious = false %}
{% assign show_shop_all_delicious = shop_all_delicious %}

{% for collection in collections %}
  <!-- display Best Sellers collection -->
  {% if collection.id == 200754692258 %}
    <section id="best-sellers">
      <div class="collection-container">
        <h2>{{ heading }}</h2>
        {% if show_shop_all_delicious %}
        <a class="underlined uppercase mb-2" href="/collections/all">Shop all delicious</a>
        {% endif %}
        {% if additional_text %}
        <p class="additional-text">{{ additional_text }}</p>
        {% endif %}
        <div class="products-glide">
          <div class="products-glide__track" data-glide-el="track">
            <ul class="products mobile products-glide__slides">
              {% for product in collection.products %}
                <li class="product-tile products-glide__slide">
                  <img src="{{ product.images | first | image_url }}" alt="{{ product.title }} " />
                  <h3>{{ product.title }}</h3>
                  <div class="product-description">{{ product.description | truncate: 200 }}</div>
                  <a class="button dark mt-2" href="{{ product.url }}">Shop Now</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="products-glide__bullets" data-glide-el="controls[nav]">
            {% for product in collection.products %}
              <button class="products-glide__bullet" data-glide-dir="={{ forloop.index0 }}"></button>
            {% endfor %}
          </div>
        </div>
        <ul class="products desktop">
          {% for product in collection.products %}
          <li class="product-tile">
            <img src="{{ product.images | first | image_url }}" alt="{{ product.title }} " />
            <h3>{{ product.title }}</h3>
            <div class="product-description">{{ product.description | truncate: 200 }}</div>
            <a class="button dark mt-2" href="{{ product.url }}">Shop Now</a>
          </li>
          {% endfor %}
        </ul>
        </div>
    </section>
  {% endif %}
{% endfor %}