
{% assign show_shop_all_delicious = false %}
{% assign show_shop_all_delicious = shop_all_delicious %}

{% for collection in collections %}
  <!-- display Best Sellers collection -->
  {% if collection.id == 200754692258 %}
    <section id="best-sellers">
      <div class="collection-container">
        <h2>{{ heading }}</h2>
        {% if show_shop_all_delicious %}
        <a class="underlined uppercase mb-2" href="/collections/all">Shop all delicious</a>
        {% endif %}
        {% if additional_text %}
        <p class="additional-text">{{ additional_text }}</p>
        {% endif %}
        <div class="products">
          {% for product in collection.products %}
            <div class="product-tile">
              <img src="{{ product.images | first | image_url }}" alt="{{ product.title }} " />
              <h3>{{ product.title }}</h3>
              <p class="product-description">The delightfully luscious and harmonious sensation <br /> on the palate is sure to leave you wanting more.</p>
              <a class="button dark" href="{{ product.url }}">Shop Now</a>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  {% endif %}
{% endfor %}