<div>
    <img src="{{ 'star.svg' | asset_url }}" />
    <img src="{{ 'star.svg' | asset_url }}" />
    <img src="{{ 'star.svg' | asset_url }}" />
    <img src="{{ 'star.svg' | asset_url }}" />
    <img src="{{ 'star.svg' | asset_url }}" />
</div>